<form [formGroup]="customerContactForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nome Completo</label>
        <input
          type="text"
          formControlName="fullname"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
        />
        <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
          <div *ngIf="f['fullname'].errors['required']">Preencha o nome completo</div>
          <div *ngIf="f['fullname'].errors['minlength']">
            Nome completo deve ter pelo menos 10 caracteres
          </div>
        </div>
      </div>
    </div>    
    
    <div class="col-md-6">
      <div class="form-group">
        <label>CEP</label>
        <input #box (keyup)="onGetAddress(box.value)"
          type="number"  min="0"
          formControlName="cep"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['cep'].errors }"
        />
        <div *ngIf="submitted && f['cep'].errors" class="invalid-feedback">
          <div *ngIf="f['cep'].errors['required']">Preencha o CEP</div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
    <div class="form-group">
      <label>Endereço</label>
      <input
        type="text"
        formControlName="street"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['street'].errors }"
      />
      <div *ngIf="submitted && f['street'].errors" class="invalid-feedback">
        <div *ngIf="f['street'].errors['required']">Preencha o endereço</div>
      </div>
    </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
          <label>Número</label>
          <input
            type="number"  min="0"
            formControlName="houseNumber"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['houseNumber'].errors }"
          />
          <div *ngIf="submitted && f['houseNumber'].errors" class="invalid-feedback">
            <div *ngIf="f['houseNumber'].errors['required']">Preencha o número</div>
          </div>

        </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Bairro</label>
        <input
          type="text"
          formControlName="neighborhood"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['neighborhood'].errors }"
        />
        <div *ngIf="submitted && f['neighborhood'].errors" class="invalid-feedback">
          <div *ngIf="f['neighborhood'].errors['required']">Preencha o bairro</div>
        </div>

      </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <label>Cidade</label>
      <input
        type="text"
        formControlName="city"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['city'].errors }"
      />
      <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
        <div *ngIf="f['city'].errors['required']">Preencha a cidade</div>
      </div>

   </div>


  </div>

    <div class="col-md-12">
      <fieldset class="form-group">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0">Telefones:</label>
          <div class="col-sm-10" formArrayName="telephones">
            <div class="input-group" *ngFor="let telephone of telephones.controls; let index = index" [formGroupName]="index">
              <input type="number" formControlName="number"
              class="form-control"  min="0"
              [ngClass]="{ 'is-invalid': submitted && telephones.controls[index].invalid }"
              >  
              <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" *ngIf="index > 0" (click)="removeTelephone(index)">Excluir</button>
              </div>

              <div class="input-group-append">
              <button class="btn btn-add" type="button" *ngIf="index == 0" (click)="addNewTelephone()">
                <i class="bi bi-plus"></i>
              </button>
            </div>

              <div *ngIf="submitted && telephones.controls[index].invalid && index == 0" class="invalid-feedback">
                <div>Preencha pelo menos um telephone</div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

    </div>

    <div class="btn-group col-md-12" role="group">
      <button type="submit" class="btn btn-add">Registrar</button>
      <button type="button" (click)="onReset()" class="btn btn-warning">Limpar Campos</button>
    </div>

  </form>